@model DTO.Bluechip

@{
    ViewBag.Title = "Details";
}

<h2> Details</h2>

<div class="row">
    <div class="col-sm-8">
        <div class="container">
            <h2>Bluechip Details</h2>
            <div class="panel panel-default" id="panel_container">
                <div class="panel-heading" id="panel_heading"></div>
                <div class="panel-body" id="panel_body">
                    <p><label>Nome</label><div id="nome">@Model.Nome</div></p>
                    <p><label>Nazione</label><div id="nazione">@Model.Nazione</div></p>
                    <p><label>Simbolo</label><div id="simbolo">@Model.Simbolo</div></p>
                </div>
            </div>
        </div>
    </div>
    <canvas id="line-chart" width="800" height="450"></canvas>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Chart.min.js"></script>
<script type="text/javascript">

    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: [1500, 1600, 1700, 1750, 1800, 1850, 1900, 1950, 1999, 2050],
            datasets: [{
                data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478],
                label: "Africa",
                borderColor: "#3e95cd",
                fill: false
            }, {
                data: [282, 350, 411, 502, 635, 809, 947, 1402, 3700, 5267],
                label: "Asia",
                borderColor: "#8e5ea2",
                fill: false
            }, {
                data: [168, 170, 178, 190, 203, 276, 408, 547, 675, 734],
                label: "Europe",
                borderColor: "#3cba9f",
                fill: false
            }, {
                data: [40, 20, 10, 16, 24, 38, 74, 167, 508, 784],
                label: "Latin America",
                borderColor: "#e8c3b9",
                fill: false
            }, {
                data: [6, 3, 2, 2, 7, 26, 82, 172, 312, 433],
                label: "North America",
                borderColor: "#c45850",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'World population per region (in millions)'
            }
        }
    });

    </script>

