@model DTO.Bluechip

@{
    ViewBag.Title = "Details";
}

<h2> Details</h2>

<div class="row">
    <div class="col-sm-8">
        <div class="container">
            <h2>Bluechip Details</h2>
            <div class="panel panel-default" id="panel_container">
                <div class="panel-heading" id="panel_heading"></div>
                <div class="panel-body" id="panel_body">
                    <p><label>Nome</label><div id="nome"></div></p>
                    <p><label>Nazione</label><div id="nazione"></div></p>
                    <p><label>Simbolo</label><div id="simbolo"></div></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    </script>

